*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family:'Montserrat', sans-serif;
}
body{
  background-color: white;
}

@media(max-width:576px){
  .intro{
    min-height:40vh;
  }
}/*end media query*/

.intro {
  background-image: url(Img/ferns.jpg);
  background-size: cover;
  min-height: 60vh;
}

p{
  color: #1f2d2e;
  text-align: left;
  font-size:0.7rem;
}

.benefits {
  min-height: 120vh;
  margin: auto;
}
.benefits-block{
  margin:auto;
  padding-left:5%;
  padding-right:5%;
}

.benefits-h{
  font-weight: 800;
  font-size:1.5rem;
}

.features {
background-color: #1f2d2e;
padding: 10%;
}
.headline{
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom:5%;
}

.features-paragraph {
  color: white;
  text-align: left;
  font-size: 0.5rem;
  /* margin:auto; */
  padding-right:8%;
}
.fa-cloud-moon{
  color: white;
  margin-bottom: 15%;
  margin-left: 25%;
  font-size:2.5rem;
}
.title-background {
  background-image: url("Img/pencils.jpg");
  background-size:cover;
  /* padding:10%; */
}

.pencil1{
  text-align: center;
  font-size:1.2rem;
  color:#1f2d2e;
  padding-top:5%;
}
.pencil2{
  text-align: center;
  font-size:3rem;
  font-weight:800;
  color: #1f2d2e;
  padding-bottom:10%;
}

.background-image1 {
  background-image: url("Img/dog.jpg");
  background-size:cover;
  background-position: center;
}
.background-image2 {
  background-image: url("Img/bedside.jpg");
  background-size: cover;
  background-position: center;
}

.quote{
  min-height:60vh;
}

.left{
  font-size:2rem;
  color:#ccc8c8;
  padding-top:5%;
  padding-left:5%;
}

.right{
  font-size:2rem;
  color:#ccc8c8;
  padding-top:5%;
  padding-right:5%;
}
.testimonial{
  font-size:1.2rem;
  color:black;
  padding-top:10%;
  padding-left:8%;
}
.attribute {
  font-size:0.5rem;
  color:#ccc8c8;
  text-align:right;
}

.text-color1 {
  color: #f1b803;
}

.text-color2 {
  color: white;
}
.title {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  color: white;
  padding-top: 15%;
}
.title2 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 400;
  color: white;
}

.contact-form {
  background-color: #1f2d2e;
  padding:10%;
}
.contact-form-text{
  padding-top:10%;
  padding-right:20%;
  font-weight: 800;
  font-size:2rem;
}
.button {
  background-color: #f1b803;
  border:none;
  width: 100px;
  color:white;
  padding: 5%;
  border-radius: 5px;
}
.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.contact-input::placeholder{
  color:#ccc8c8
}
.contact-input:focus{
  outline:none;
}
.contact-form input{
  padding: 5%;
  width:100%;
  border: #1f2d2e solid 3px;
  border-radius:5px

}
textarea{
  display:block;
  border: #1f2d2e solid 3px;
  resize: none;
  width:100%;
  border-radius:5px;
}
textarea::placeholder {
  color:#ccc8c8;
  padding-left:5%;
}

textarea:focus{
  outline: none;
}
